version: '3'


services:
  ws-petproject:
    image: ws-petproject
    build:
      context: .
      dockerfile: ./Dockerfile
    expose:
      - 8000
    ports:
      - 8000:8000
    environment:
      - SECRET_KEY=$SECRET_KEY
      - ACCESS_TOKEN_LIFE=$ACCESS_TOKEN_LIFE
      - REFRESH_TOKEN_LIFE=$REFRESH_TOKEN_LIFE
      - ALGORITHM=$ALGORITHM
    volumes:
      - ./main/app:/app
    depends_on:
      - database
      - celery
      - redis
    env_file:
      - ./.env

  database:
    image: postgres:13
    environment:
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    ports:
      - "5432:5432"
    volumes:
      - ${DATABASE_DIR:-./database_data}:/var/lib/postgresql/data
    env_file:
      - ./.env

  redis:
    image: redis:latest
    restart: always

  celery:
    restart: always
    build:
      context: .
    command: [ 'celery', '-A', 'config', 'worker' ]
    volumes:
      - ./main:/app
    environment:
      - SECRET_KEY=$SECRET_KEY
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    depends_on:
      - database
    env_file:
      - ./.env