[MASTER]
fail-under=10.0
ignore-paths=.*\.venv/.*
ignore-patterns=.lock,
                .toml,
                .ini,
                .md,
jobs=1
limit-inference-results=100
load-plugins=pylint_quotes
persistent=yes
py-version=3.10
suggestion-mode=yes
unsafe-load-any-extension=no
string-quote=double
triple-quote=double
docstring-quote=double


[MESSAGES CONTROL]
disable=missing-class-docstring,
        missing-module-docstring,
        missing-function-docstring,
        too-many-arguments,
        duplicate-code,
        redefined-outer-name,
        too-few-public-methods,
        import-error,
        unused-argument,
        invalid-name,
        no-member,