name: Integration
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/setup-python@v4
        with:
            python-version: '3.11'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install flake8 mypy isort black pylint
  lint:
      needs: [ build ]
      runs-on: ubuntu-latest
      steps:
        - name: Lint
          run: |
            pylint
  flake8:
      needs: [ build ]
      runs-on: ubuntu-latest
      steps:
        - name: flake8
          run: |
            flake8
  mypy:
      needs: [ build ]
      runs-on: ubuntu-latest
      steps:
        - name: mypy
          run: |
            mypy
  black:
      needs: [ build ]
      runs-on: ubuntu-latest
      steps:
        - name: black
          run: |
            black
