name: Integration
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t main:test-${{ github.sha }}
  lint:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Lint
        run: |
          docker run --rm main:test-${{ github.sha }} pylint /app/main
  flake8:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker image
        run: docker pull app:latest
      - name: flake8
        run: |
          docker run --rm main:test-${{ github.sha }} flake8 /app/main
  mypy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker image
        run: docker pull app:latest
      - name: mypy
        run: |
          docker run --rm main:test-${{ github.sha }} mypy /app/main
  black:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker image
        run: docker pull app:latest
      - name: black
        run: |
          docker run --rm main:test-${{ github.sha }} black /app/main