name: CI

on: [pull_request]
jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and run flake8 in Docker
        run: |
          docker build -t flake8 .
          docker run -v ${{ github.workspace }}:/app flake8 
          docker run -v ${{ github.workspace }}:/app flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        env:
          POETRY_HOME: /app
          POETRY_VERSION: 1.7.1

  black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and run black in Docker
        run: |
          docker build -t black .
          docker run -v ${{ github.workspace }}:/app black 
          docker run -v ${{ github.workspace }}:/app black --check .
        env:
          POETRY_HOME: /app
          POETRY_VERSION: 1.7.1

  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and run mypy in Docker
        run: |
          docker build -t mypy .
          docker run -v ${{ github.workspace }}:/app mypy 
          docker run -v ${{ github.workspace }}:/app mypy .
        env:
          POETRY_HOME: /app
          POETRY_VERSION: 1.7.1

  isort:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and run isort in Docker
        run: |
          docker build -t isort .
          docker run -v ${{ github.workspace }}:/app isort 
          docker run -v ${{ github.workspace }}:/app isort .
        env:
          POETRY_HOME: /app
          POETRY_VERSION: 1.7.1

  pylint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and run pylint in Docker
        run: |
          docker build -t pylint .
          docker run -v ${{ github.workspace }}:/app pylint --version
          docker run -v ${{ github.workspace }}:/app pylint .
        env:
          POETRY_HOME: /app
          POETRY_VERSION: 1.7.1